<div class="modal"style="display:block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> <%= model.get("title")%></h4>
      </div>
      <div class="modal-body">
        <div class="row mainInfo">
      		<div class="col-xs-3">
      			<img href="#"+ <%= model.get("imageURL") %>></img>
      		</div>
      		<div class="col-xs-4">

      		</div>
      	</div>
      	<div class="row postDescription">
      		<p><%= model.get("description") %></p>
      	</div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
