<script type="text/javascript" src="../../js/libs/viewModeSwitch.js"></script>

<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
	<a href="#"><div class="header-profile">Eliza</div></a>
	<a href="#"><div class="header-home">Home</div></a>
    <div class="cbp-vm-options">
        <a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid">Grid View</a>
        <a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list">List View</a>
    </div>
    <ul id="listview-parent">
    </ul>
</div>
